/* 鼠标样式 */
html,
#twikoo,
.centerTitle *,
.fancybox__slide {
  cursor: url(/assets/cursor/default.cur), auto;
}
a,
button,
.test-btn,
.cursor-pointer,
.el-input-group__prepend,
.tk-icon,
.tk-action,
.tk-avatar,
.tk-submit-action-icon,
#waifu,
#waifu-tool svg {
  cursor: url("/assets/cursor/pointer.cur"), auto !important;
}

p,
input[type="text"],
input[type="password"],
input[type="email"],
/* .centerTitle *:active, */
textarea {
  cursor: url("/assets/cursor/input.cur"), auto !important;
}

#live2d,
.mermaid-zoom-wrapper {
  cursor: url("/assets/cursor/grab.cur"), grab !important;
}
#live2d:active,
.mermaid-zoom-wrapper:active {
  cursor: url("/assets/cursor/grabing.cur"), grabbing !important;
}

button:disabled,
input:disabled,
.cursor-not-allowed,
.not-allowed {
  cursor: url("/assets/cursor/not-allowed.cur"), auto !important;
}

.cursor-zoom-in,
.f-panzoom__viewport {
  cursor: url("/assets/cursor/zoomIn.cur"), auto !important;
}
