---
import { Icon } from "astro-icon/components";
---

<!-- There can't be a filter on parent element, or it will break `fixed` -->
<div class="back-to-bottom-wrapper block">
	<div
		id="back-to-bottom-btn"
		class="back-to-bottom-btn flex items-center rounded-2xl overflow-hidden transition"
		onclick="backToBottom()"
	>
		<button
			aria-label="Back to Bottom"
			class="btn-card h-[3.75rem] w-[3.75rem]"
		>
			<Icon
				name="material-symbols:keyboard-arrow-down-rounded"
				class="mx-auto"
			/>
		</button>
	</div>
</div>

<style lang="stylus">
  .back-to-bottom-wrapper
    width: 3.75rem
    height: 3.75rem
    position: absolute
    right: 0
    top: 0
    pointer-events: none

  .back-to-bottom-btn
    color: var(--primary)
    font-size: 2.25rem
    font-weight: bold
    border: none
    position: fixed
    bottom: 5rem
    opacity: 1
    right: 6rem
    cursor: pointer
    transform: translateX(5rem)
    pointer-events: auto
    transition: box-shadow 1s ease-in-out

    i
      font-size: 1.75rem

    &.hide
      transform: translateX(5rem) scale(0.9)
      opacity: 0
      pointer-events: none

    &:active
      transform: translateX(5rem) scale(0.9)

  @media (max-width: 1560px)
    .back-to-bottom-btnn
      box-shadow: none

  // 手机端隐藏返回顶部按钮
  @media (max-width: 768px)
    .back-to-bottom-wrapper
      bottom: 1rem
      right: 3rem
      //display: none

</style>

<script is:raw is:inline>
	// 滚动到底部
	function backToBottom() {
		window.scrollTo({
			// document.documentElement.scrollHeight 获取当前页面的总高度
			top: document.documentElement.scrollHeight,
			behavior: "smooth",
		});
	}
</script>
